body {
    background-color: blueviolet;
}

button, div, form, input {
      margin: 10px;
      text-align: center;
    }

.rating {
    margin: 0px;
}    

#animals-view {
    border: black, 3px;
}

#animals-view, .animal {
    float: left;
}    

#animalInputBtn {
    font: 700;
}

#animal-form {
    float: right;
}