body {
    background-color: blueviolet;
}

button, div, form, input {
      margin: 10px;
      text-align: center;
    }

.rating {
    margin: 0px;
}    

#animals-view, .animal {
    float: left;
}    

#animal-form {
    float: right;
}